.DS_Store

.nb-gradle
.gradle
.idea
cql-all.iws
cql-all.iml
cql-all.ipr
.DS_STORE
out
.project
.kotlin
.classpath
.settings
build
target
bin
test-

generated
*.iml

lib
lib-test
node_modules
.nyc_output
coverage
gen
.worktrees

# asdf-vm specific files
.tool-versions

# mise-vm specific files
mise.toml
