.DS_Store

.nb-gradle
.gradle
.idea
cql-all.iws
cql-all.iml
cql-all.ipr
.DS_STORE
out
.project
.kotlin
.classpath
.settings
.kotlin
build
target
bin
test-

build
generated
*.iml

lib
lib-test
node_modules
.DS_Store
.nyc_output
coverage
gen
.kotlin


/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

