.DS_Store

.nb-gradle
.gradle
.idea
cql-all.iws
cql-all.iml
cql-all.ipr
.DS_STORE
out
.project
.classpath
.settings
.kotlin
build
target
bin
test-

build
generated
*.iml

lib
lib-test
node_modules
.DS_Store
.nyc_output
coverage
gen

