name: Check PR
on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  checks: write

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
    - name: Cache SonarCloud packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Run Gradle Build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      working-directory: ./Src/java
      run: ./gradlew check sonar -x spotlessCheck
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: (success() || failure()) && matrix.os == 'ubuntu-latest'
      with:
        report_paths: '**/build/test-results/test/TEST-*.xml'
        job_name: "Check PR"
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      if: matrix.os == 'ubuntu-latest'
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}