name: Run Checks on PRs
on: pull_request
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11

    - name: Setup and execute Gradle 'check' task
      uses: gradle/gradle-build-action@v2
      with:
        arguments: check
        build-root-directory: Src/java