name: Publish Snapshot
on:
  push:
    branches:
      - ${{ github.event.repository.default_branch }}

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11

    - name: Setup and execute Gradle 'publish' task
      uses: gradle/gradle-build-action@v2
      with:
        arguments: publish
        build-root-directory: Src/java
      env:
        OSSRH_USERNAME: ${{ vars.OSSRH_USERNAME }}
        OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}