name: Format Check

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  spotless:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run Spotless Check
        working-directory: ./Src/java
        run: ./gradlew spotlessCheck
      - uses: mshick/add-pr-comment@v2
        if: always()
        with:
          message-success: |
            Formatting check succeeded!
          message-failure: |
            **This Pull Request has failed the formatting check**

            Please run `gradlew spotlessApply` to fix the formatting issues.